.page-footer {
    background-color: $color-nav-header;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    .footer-copyright {
 		background-color: $color-nav-header;
        display: flex;
        justify-content: space-around;
	    a {
	    	padding: 0 10px;
	    }
    }
}