/**********  HEADER PROFILE **********/
body.profile {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	padding-top: 270px;
	@include transition(padding-top .5s ease);
	header.header {
		width: 100%;
		//height: 250px;
		height: $height-header;
		background-color:  $color-nav-header;
		text-align: center;
		position: relative;
		position: fixed;
		top: 0;
		//overflow: hidden;
		@include transition(all .5s ease);
		nav {
			position: absolute;
			bottom: 0;
			height: 60px;
			line-height: 60px;
			width: 100%;

			a {
				display: inline-block;
				padding: 10px 15px;
				line-height: 1;
				text-decoration: none;
	       		@include border-radius(2px);
			}
		}
		.navbar-login {
			background-color: $color-nav-header;
		   	z-index: 20;
			.logo {
			    position: fixed;
			    top: 0;
			    left: 15%;
			    @media (max-width: 992px) {
			    	left: 5%;
			    }
			}
		}
	}
	.field-search {
		position: relative;
    	left: 100px;
    	.input-search{
    		position: fixed;
    		height: 60px;
    		.active{
    			color: $color-black;
    		}
    		.btn-search {
    			position: absolute;
    			border-radius: 50%;
    			width: 40px;
    			left: 0;
    			top: 12px;
    			color: $color-black;
    			background-color: transparent;
    			z-index: 30;
    			&.search-friend-btn{
    				@media (min-width: 654px){
    					left: -200px;
    					
    				}
    			}
		    }
    		.icon-search{
    			position: relative;
				top: -23px;
			    left: -17px;
    		}
    		#CI_usuarios {
			    background-color: $color-white;
			    color: $color-black;
			    width: 70%;
			    position: relative;
			//    right: 95%;
			//    text-align: right;
			    &.search-friend-input{
			    	@media (min-width: 654px){
						width: 137%;
						right: 70%;
						font-size: 24px;
					}
				}
			}
		}

    	.dropdown-link {
    		width: 100%;
    	}
	}
}
body.profile.sticky-header {
	padding-top: 100px;
	header.header {
		height: 60px;
		background-color: $color-nav-header;

		opacity: 0.9;
		z-index: 20;
	}
	padding-bottom: 200px;

}

