.profile {
     //background-image: url('/images/presents.png');
    .post {
    	width: 70%;
    }

    .menu-settings {
        position: fixed;
        top: 0;
        left: 6px;
        z-index: 30;
        .dropdown-content {
    		min-width: 240px;
    		margin: 0 35px;
            a {
                color: $color-blue-text;
            }
    	}
    }
    .settings {
        top: calc(200px - 45px);
        //top: 10px;
        position: fixed;
        color: $color-black;
        left: 75%;
        -webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
        transition: top 0.5s;
        &.sticky-header-settings {
            top: 10px;
        }
    }
    .image-profile {
        position: fixed;
        top: calc(200px - 90px);
        padding: 0;
        border: 1px solid $color-black;
        border-radius: 50%;
        background-color: $color-no-imagen;
        z-index: 30;
        -webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
        transition: top 0.5s;
    }

    .photo-profile {
        .image-profile {
            left: 44%;
            width: 160px;
            height: 160px;
            background-size: 160px;
            &.sticky-header-img {
                top: 0px;
                width: 100px;
                height: 100px;
                background-size: 100px;
                left: 45%;
            }
        }
    }
    .photo-profile-friend {
        .image-profile {
            left: 32%;
            width: 160px;
            height: 160px;
            background-size: 160px;
            &.sticky-header-img {
                top: 0px;
                width: 100px;
                height: 100px;
                background-size: 100px;
                left: 35%;
            }
        }
    }
    .content-profile {
        margin-left: 10%;
    }
    .photo-edit {
        cursor: pointer;
    }
    .container-friends {
        background-color: $color-white;
       // background-image: url('/images/presents.png');
        border: none;
        .collection-item {
            background-color: $color-white;
            border: none;
            padding: 5px 0px;

        }
        .chip{
            display: block;
            background-color: $color-fiends-friends;
            img{
                float: left;
                margin: 0 8px 0 -12px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }
        }
        
    }
    .container-friends-friends {
        .collection-item {
           padding: 5px 0px;
        }
        .chip {
            display: block;
            background-color: $color-secondary;
            img{
                float: left;
                margin: 0 8px 0 -12px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }
        }
    }
    .container-suggests {
        .collection-item {
           padding: 5px 0px;
        }
        .chip {
            display: block;
            /*img{
                float: left;
                margin: 0 8px 0 -12px;
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }*/
        }
    }

    p.username {
        font-style: oblique;
    }

    .card {
        margin-bottom: 30px; 
    }
    .btn-custom {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        padding: 0;
        margin: 0 2px;
        &.settings {
            background-color: $color-none;
        }

    }
    .button-submit {
        padding-bottom: 25px;
        position: relative;
    }
    
    .btn {
        background-color: $color-btn;
    }
    .file-field {
        display: inline-block;
    }

    input.btn.btn-edit-post {
        position: relative;
        left: 400px;
    }

    .modal-footer {
        padding: 120px 20px;
    }
    .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
        color: $color-blue-text; 
        //margin-right: 24px;
        /* transition: color .3s ease; */
        text-transform: initial;
    }
    textarea.materialize-textarea{
        border: 1px dotted $color-no-imagen;
        margin-top: 10px;
    }

    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid transparent; 
        box-shadow: 0 1px 0 0 transparent; 
    }
    .reply-content {
        margin-top: 15px;
        padding: 15px;
    }
    .reply-of-reply-content {
        padding: 15px;
        margin-top: 15px;
    }

    .bought, .recieved {
        background-image: url('/images/red-.png');
        background-repeat: no-repeat;
        background-position: 70% 2%; 
        background-size: 134px;
     /*   background-image: url('/images/gifted2.png');
        background-position: 70% 0%;
        background-size: 730px;*/
        p.username {
            color: grey;
        }
        img{
            opacity: 0.8;
            filter: alpha(opacity=50);
        }
        img:hover{
            opacity: 1;
        }
    }
    .post-wish{

    }
    .buttons-post {
        margin: 10px 0px;
    }
    .modal {
         max-height: 100%
    }
    .modal-picture {
        width: 20%;
       
    }

    

    /* HELP */
    .modal-help {
        height: 80%;

        /* Slideshow container */
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
            height: 90%;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor:pointer;
          height: 13px;
          width: 13px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .prev, .next,.text {font-size: 11px}
        }
        .content-help {
            position: relative;
            top: 3%;
            padding: 0 39px;
            .title {
                text-align: center;
            }
        }
        .content-help-1 {
            text-align: center;
            padding-top: 102px;
        }
        .content-help-2 {
            .step-2 {
                position: relative;
                top: 30px;
            }

        }
        .content-help-4 {
            .step-2 {
                position: relative;
                top: 3%;
            }
        }
        .content-help-5 {
            .step-2 {
                position: relative;
                top: 3%;
            }
        }
        .content-help-7{
            padding: 115px 0 0 0;
            text-align: center;
        }
        .tutorial-checkbox {
            color : $color-white;
        }
        .tutorial-checkbox:before {
            color : $color-white;
        }
        label {
            color: white;
        }
        .btn {
            background-color: $color-primary;
        }
        .btn-modal {
            position: fixed;
            left: 45%;
        }
    }
    form.form-edit input.btn {
        position: relative;
        //left: 55%;
    }
    
    strong {
        font-weight: bold;
    }
}
