div(id="modal-users-like" + key, class="modal modal-users-like")
	.modal-content
		h4 Users Like
		ul.collection
			each userlikes, k in post._id.post.users_like
				li.collection-item.avatar
					//.user-like
					img.circle(src=userlikes.image, width="100")
					span.title
						a(href="/profile/" + userlikes._id) #{userlikes.name} #{userlikes.lastname} (#{userlikes.username})
						//- si no soy yo, y no lo tengo en amigos BOTON ADD FRIEND
					if (new String(userSession._id).valueOf() != new String(userlikes._id).valueOf())
						if (userSession.id_friends.indexOf(new String(userlikes._id).valueOf()) == -1)
							a.right(href="/profile/addFriend/" + userlikes._id) 
								i.material-icons supervisor_account
								|add friend
						//- no soy yo y lo tengo en amigos BOTON REMOVE FRIEND
						else
							a.right(href="/profile/removeFriend/" + userlikes._id) 
								i.material-icons supervisor_account
								|remove friend			
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Close
