#modal-help.modal.modal-help.red.white-text
  .slideshow-container.modal-content
    .mySlides.fade(style="display:block")
      .numbertext 1 / 7
      .content-help.content-help-1
        .title
          h2 Welcome
        .step-1
          p Here you will be able to post your wishlist.
          p If you want it, post it!
    .mySlides.fade(style="display:none")
      .numbertext 2 / 7
      .content-help.content-help-2
        .title
          h4.flow-text To start fulfilling your wishes, first you need to look for your friends!
        .row
          .step-1.col.s12.m5
            p Clicking on the magnifying glass will open the search engine.
            img.responsive-img(src='/images/info-search.png')
          .step-2.col.s12.m6
            p Type something and it will start searching.
            img.responsive-img(src='/images/info-search3.png')
        .step-3
          p Note: You can friend people, but until they friend you back, you won't be able to perform some actions. They will be notified when you add them as a friend.
    .mySlides.fade(style="display:none")
      .numbertext 3 / 7
      .content-help.content-help-3
        .title
          h4.flow-text Now that we have friends. We want to post wishes so they know we want them.
        .row
          .step-1.col.s12.m4
            p There's a button below your profile picture.
            img.responsive-img(src='/images/info-post1.png')
          .step-2.col.s12.m8
            img.responsive-img(src='/images/info-post.png', width='500')
        .row
          p In these fields we'll introduce whatever we want!
          p <strong>Title:</strong> type something to highlight it, this will be the most visible part.
          p <strong>Text:</strong> here we'll type a description of what we want. The more descriptive the better chance we'll get exactly what we want!
          p And also we can upload an <strong>image!</strong> With it they'll have it difficult to fail at gifting!
    .mySlides.fade(style="display:none")
      .numbertext 4 / 7
      .content-help.content-help-4
        .step-1.title
          h4.flow-text Whenever we press SUBMIT we'll see it on your profile like this.
        .row
          .col.s12.m6
            img.responsive-img(src='/images/info-post2.png')
          .step-2.col.s12.m6
            p We can see 5 icons from left to right:
            ul 
              li
                p <strong>like:</strong> You like this wish, but it doesn't mean that you're interested. Every friend of the person's wish can see it.
              li
                p <strong>comment:</strong> Anything to comment on this wish. Anyone can see this.
              li
                p <strong>edit:</strong> If you made a mistake typing your wish, or you want to change it.
              li
                p <strong>delete:</strong> If you regret wishing this, you can delete it!
              li
                p <strong>recieve:</strong> If someone has given it to you, this will prevent others from being interested.
    .mySlides.fade(style="display:none")
      .numbertext 5 / 7
      .content-help.content-help-5
        .step-1.title
          h4.flow-text Your friends will see your wishes and you will see your friend's wishes in the following way:
        .row
          .col.s12.m6 
            img.responsive-img(src='/images/info-post3.png')
          .step-2.col.s12.m6
            p We can see 3 icons from left to right:
            ul 
              li
                p <strong>like:</strong> You like this wish, but it doesn't mean that you're interested. Every friend of the person's wish can see it.
              li
                p <strong>comment:</strong> Anything to comment on this wish. Anyone can see this.
              li
                p <strong>interest:</strong> You're interested in this wish. After clicking it there will appear 2 buttons. (Only other interested people can see it.)
          .step-3.col.s12
            ul
              img.responsive-img(src='/images/info-post4.png', width="70")
              li
                p <strong>bought:</strong> You bought that wish so other interested people will look for other wishes.
              li
                p <strong>uninterest:</strong> You're not interested in this wish anymore.
    .mySlides.fade(style="display:none")
      .numbertext 6 / 7
      .content-help.content-help-6
        .row
          .step-1.col.s12.m6
            p If you wish to change your profile picture, you just have to click on it.
            img.responsive-img(src='/images/info-settings.png', width='300')
          .step-2.col.s12.m6
            p To change any other information you can go to settings > edit account and there you can change any information show on your profile.
            img.responsive-img(src='/images/info-settings1.png', width='300')

      //img(src='img_mountains_wide.jpg')
    .mySlides.fade(style="display:none")
      .numbertext 7 / 7
      .content-help.content-help-7
        h4.flow-text  With this information you can start surfing on iWish!
        h4.flow-text  We hope your wishes come true!
        if (userSession.tutorial)
          //- Mirar si hasDoneTutorial lo tiene true
          form(action='/profile/help', method='POST', enctype='multipart/form-data')
            .tutorial-checkbox
              input#tutorial(type="checkbox", name="tutorial", value="true") 
              label(for="tutorial") Don't show this tutorial again.
            input.btn(type="submit", name="Ready", value="Ready?",  alt="ready", title="Ready") 
        else
          a.btn(href="/", alt="ready", title="Ready") Ready?
        //- Si no entonces muestra boton normal sin accion
          
    a.prev(onclick='plusSlides(-1)') ❮
    a.next(onclick='plusSlides(1)') ❯
  div.btn-modal(style='text-align:center')
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')
    span.dot(onclick='currentSlide(4)')
    span.dot(onclick='currentSlide(5)')
    span.dot(onclick='currentSlide(6)')
    span.dot(onclick='currentSlide(7)')