div(id='delete-reply' + key3, class='modal modal-delete')
	.modal-content
		h4 Delete Post
		p Are you sure you want to delete the post?
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/posts/delete/' + post._id.post._id + '/' + reply._id + '/0/' + user._id) Delete
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') No