#modal-edit-acount.modal.modal-edit-acount
	form(action='/settings/update', method='POST', enctype='multipart/form-data')
		.modal-content
			h4 Please, insert your email
				.row
					.input-field.col.s12
						input#email-sign-up.validate(type='email', name='email', required)
						label(for='email') Email
		.modal-footer
			input.btn(type='submit', name='submit', value='Save')
			a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Cancel