div(id="modal-users-interested" + key, class="modal modal-users-like")
	.modal-content
		h4 Users Interested
		ul.collection
			each userinterested, k in post._id.post.users_interested
				li.collection-item.avatar
					//.user-like
					img.circle(src=userinterested.image, width="100")
					span.title
						a(href="/profile/" + userinterested._id) #{userinterested.name} #{userinterested.lastname} (#{userinterested.username})
						//- si no soy yo, y no lo tengo en amigos BOTON ADD FRIEND
					if (new String(userSession._id).valueOf() != new String(userinterested._id).valueOf())
						if (userSession.id_friends.indexOf(new String(userinterested._id).valueOf()) == -1)
							a.right(href="/profile/addFriend/" + userinterested._id) 
								i.material-icons supervisor_account
								|add friend
						//- no soy yo y lo tengo en amigos BOTON REMOVE FRIEND
						else
							a.right(href="/profile/removeFriend/" + userinterested._id) 
								i.material-icons supervisor_account
								|remove friend			
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-green.btn(href='#') Close