doctype html
html(lang="es")
	include ../commons/head_profile.pug
body.profile.flow-text 
	include ../commons/header.pug
	.row.content-profile
		//-.container
		//- Foto Perfil
		.photo-profile
			if new String(userSession._id).valueOf() == new String(user._id).valueOf()
				a.link-photo-profile(href="#modal-picture", title=user.name + " " + user.lastname+ " ("+user.username+")")
					.image-profile(style="background-image: url('"+user.profile.images[user.profile.images.length - 1].value+"');background-repeat: no-repeat; background-position: center;")
				include ../commons/modals/modal-picture.pug
			else
				.image-profile(style="background-image: url('"+user.profile.images[user.profile.images.length - 1].value+"');background-repeat: no-repeat; background-position: center;", title=user.name + " " + user.lastname+ " ("+user.username+")")
		.info-user.col.m12.l2
			if message
				p #{message}
			//- DATOS
			.card-panel.panel-info(title=user.name + " " + user.lastname)
				h3.flow-text #{user.name}
				p.truncate(title=user.email)
					b email: 
					|#{user.email}
				p 
					b name: 
					|#{user.name} #{user.lastname}
				p 
					b username: 
					|#{user.username}
				p
					if user.birth_date
						b Birth: 
						|#{user.birth_date.toDateString()}
				//- si no soy yo, y no lo tengo en amigos BOTON ADD FRIEND
				if (new String(userSession._id).valueOf() != new String(user._id).valueOf())
					if (userSession.id_friends.indexOf(new String(user._id).valueOf()) == -1)
						a(href="/profile/addFriend/" + user._id) 
							i.material-icons supervisor_account
							|add friend
					//- no soy yo y lo tengo en amigos BOTON REMOVE FRIEND
					else
						a(href="/profile/removeFriend/" + user._id) 
							i.material-icons supervisor_account
							|remove friend			
			//- MY friend list, sale siempre
			if myFriendList
				.collection.container-friends.container-friends-mine.card-panel
					h5.flow-text My friends
					each friend, index in myFriendList
						.collection-item
							//.friend
							a(href="/profile/" + friend._id, alt=friend.name, title=friend.name + " " + friend.lastname+ " ("+friend.username+")")
								.chip
									img.circle(src=friend.profile.images[friend.profile.images.length - 1].value)
									.truncate #{friend.name} #{friend.lastname} (#{friend.username})
		//- SETTINGS
		include ../commons/settings.pug
		.col.m12.l7
			#postsContainer.container
				//- Añadir post. Solo visible en tu propio perfil
				if new String(userSession._id).valueOf() == new String(user._id).valueOf()
					a.btn.btn-new-post(alt="new post", title="new post") new wish
					.card-panel.z-depth-4.hoverable.form-new-post(hidden=true)
						.container
							form#new-post-form(action='/posts', method='post', enctype='multipart/form-data')
								.row
									.input-field.col.s12
										input#title-post(type='text', name='Title', placeholder='')
										label.active(for="title-post") Title: 
								.row
									.input-field.col.s12
										textarea#content-post.materialize-textarea(type='text', name='Description')
										label.active(for="content-post") Text: 
								img#output.responsive-img(width="500")
								input#file-post(type="file", name="File", accept="image/jpeg, image/png", onchange='loadFile1(event)')
								script.
									var loadFile1 = function(event) {
									var reader = new FileReader();
									reader.onload = function(){
									var output = document.getElementById('output1');
									output.src = reader.result;
									};
									reader.readAsDataURL(event.target.files[0]);
									};
								.button-submit.right
									input#submitNewPost.btn(type='submit', name='submit', value='submit')
				include post_template.pug
		.col.m12.l2
			- var suggestionsReals = 0;
			each suggested, k in suggestions
				if new String(userSession._id).valueOf() != new String(suggested._id).valueOf() || userSession.id_friends.indexOf(suggested._id) == -1 
					- suggestionsReals++;
			if suggestionsReals > 0
				.card-panel.collection.container-suggests.card-panel
					h5.flow-text Suggested friends
					each suggested, k in suggestions
						if new String(userSession._id).valueOf() != new String(suggested._id).valueOf() && userSession.id_friends.indexOf(suggested._id) == -1 
							.collection-item
								a(href="/profile/" + suggested._id, title=suggested.name +" "+suggested.lastname +"("+suggested.username+")") 
									.chip
										img.circle(src=suggested.profile.images[suggested.profile.images.length - 1].value)
										.truncate #{suggested.name} #{suggested.lastname} (#{suggested.username})
			//- Lista de amigos de mis amigos
			if userSession.id_friends.indexOf(user._id) > -1 || new String(userSession._id).valueOf() == new String(user._id).valueOf()
				if userFriendList
					.collection.container-friends.container-friends-friends.card-panel
						h5.flow-text #{user.username} friends
						each friend, index in userFriendList
							.collection-item
								//.friend
								a(href="/profile/" + friend._id, alt=friend.name, title=friend.name + " " + friend.lastname+ " ("+friend.username+")")
									.chip
										img.circle(src=friend.profile.images[friend.profile.images.length - 1].value)
										.truncate #{friend.name} #{friend.lastname} (#{friend.username})
//include ../commons/footer.pug
