doctype html
html(lang="es")
	include ../commons/head_recovery.pug
body.login-page
	header.header
		nav.navbar-login
			.nav-wrapper.container
				a.left.logo(href='#')
					img(src='/images/logo2.png', width='45', height='auto', alt='logo')
	.container
		.row.login-content
			.col.m12.l5.form-login.center
				#signup
					.card-panel.hoverable
						form(method='post')
							.row
								.input-field.col.s12
									input#password.validate(type='password', name='password', required)
									label(for='password') Password
							.row
								.input-field.col.s12
									input#password2.validate(type='password', name='password2', required)
									label(for='password2') Repeat password
							div
								//a#send_email.btn.local-signup(href="#signup-confirm") Sign up
								//include ../commons/modals/modal-signup.pug
								input#send_email.btn.local-signup(type='submit', name='signup', value='Sign up', title='Recover')
include ../commons/footer.pug
