header.header
	nav.navbar-login
		.nav-wrapper.container
			a.left.logo(href='/')
				img(src='/images/logo2.png', width='45', height='auto', alt='logo', title="home")
			if user
				.row.field-search
					.input-field.col.s3.input-search
						a.btn.btn-search(title="search")
							i.material-icons.prefix.icon-search search
						input(type='text', placeholder="search", name="CI_usuarios" id="CI_usuarios", hidden="true")
			//- form
				.row.field-search
					.input-field.col.s3.input-search
						input#CI_usuarios(type='text', placeholder="search", name="CI_usuarios", hidden="true")
						label.label-icon.input-search(for='CI_usuarios')
							a.btn.btn-search
								i.material-icons.icon-search search

