.setting-user
			.menu-settings
				a.dropdown-button.btn.btn-custom.settings.btn-settings(href='#', data-activates='dropdown1', title="settings")
					i.material-icons settings
				ul#dropdown1.dropdown-content
					li
						a(href='#modal-edit-acount' title="edit account") 
							i.material-icons mode_edit
							|edit account
					//- Si el usuario tiene linkeada una cuenta de facebook no se vera link de google
					if (userSession.facebook.email != undefined) 
						if (!userSession.facebook.token)
							li
								a(href='/connect/facebook' title="link facebook account") 
									i.material-icons add_circle
									|link facebook account
						else
							li
								a(href='/unlink/facebook' title="unlink facebook account") 
									i.material-icons remove_circle
									|facebook account
					else 
						//- Si el usuario tiene linkeada una cuenta de google no se vera link de facebook
						if (!userSession.google.token)
							li
								a(href='/connect/google' title="link google account") 
									i.material-icons add_circle
									|link google account
							//- Pero si no tiene ninguna cuenta de google asociada entonces si se verá facebook
							if (userSession.google.email == undefined)
								li
									a(href='/connect/facebook' title="link facebook account") 
										i.material-icons add_circle
										|link facebook account
						else
							li
								a(href='/unlink/google' title="unlink google account") 
									i.material-icons remove_circle
									|google account
					//- Cuenta local se puede linkear siempre
					if (!userSession.local.email)
						li
							a(href='#modal-create-local-account' title="link local account") 
								i.material-icons add_circle
								|create local account
					else	
						li
							a(href='/unlink/local' title="unlink local account")
								i.material-icons remove_circle
								|local account	
					li.divider
					li
						a(href="/logout")
							i.material-icons power_settings_new
							|log out
					li.divider
					li.links-footer
						a(href='#modal-help') help
					li.links-footer
						a(href='/contact_us') contact us
					li.links-footer
						a(href='/privacity') privacity
					li.links-footer
						a(href='/legal') legal
			include modals/modal-help.pug
			include modals/modal-edit-acount.pug
			include modals/modal-create-local-account.pug