
/** GREENS **/

$color-green		: #56B949;
$color-green-dark	: #02500F;
$color-green-dark-1	: #006811;
$color-green-dark-2	: #1D4223;
$color-green-light	: #00FF2B;
$color-green-light-1: #6CFF85;
$color-green-light-2: #59A967;
$color-green-1		: #3A9E6F;


/** REDS  **/
$color-red			: #C60A0A;
$color-red-dark		: #8F0505;
$color-red-dark-1	: #5C0E0E;
$color-red-dark-2	: #B7061A;
$color-red-light 	: #FF4242;
$color-red-light-1	: #FF001E;
$color-red-light-2	: #F64960;

/** BLUES **/
$color-blue 		: #28a9ff;
$color-blue-text	: #039be5;

$color-orange		: #FF872F;

$color-white   		: #FFFFFF;
$color-ghost      	: #FAFAFA;
$color-vapor      	: #F6F6F6;
$color-silver     	: #EFEFEF;
$color-smoke      	: #EEEEEE;
$color-iron       	: #CCCCCC;
$color-base       	: #AAAAAA;
$color-tundora 		: #424242;
$color-black-haze 	: #EEF0F0;
$color-aluminum   	: #999999;
$color-jumbo       	: #888888;
$color-monsoon     	: #777777;
$color-steel       	: #666666;
$color-charcoal    	: #555555;
$color-tuatara     	: #444444;
$color-oil         	: #333333;
$color-jet         	: #222222;
$color-black       	: #000000;

/*=====================================
=            Custom colors            =
=====================================*/
$color-none 		: transparent;
$color-primary      : $color-blue ; //Not defined
$color-secondary    : $color-orange; //Not defined

$color-teal-bue         : #023D51;
$color-eden             : #134E62;
$color-all-ports        : #007EAE;
$color-cerulean         : #009FE3;
$color-cerulean-light   : #00B1FD;
$color-skyblue          : #66C5EE;
$color-fern             : #62B473;
$color-border-light     : #DEDEDE;
$color-warning          : #FF8A2F;

$color-snow        	: #eef0f0;
$color-gainsboro   	: #DDDDDD;
$color-input-border : #EEF0F0;
$color-input-hover  : #DCDCDC;
$color-ok			: #62B473;

$color-table-odd	: $color-white;
$color-table-even	: #F9F9F9;

$color-dark-gray	: #4D4D4D;
$color-dark-smoke	: #424242;
$color-dark-night	: $color-teal-bue;
$color-light-blue	: $color-all-ports;
$color-medium-blue	: $color-all-ports;
$color-local		: #6E1318;
$color-red          : #B0072E;

$form-selected		: #26a69A;
$form-error			: #F44336;

$color-blue-lagoon  : #004F70;
$color-columbia-blue: #99D8F3;
$color-nero         : #1A1A1A;
$color-matterhorn   : #555555;
$color-white-smoke  : #EFEFEF;

$color-accordion-icons : #007eae;


$color-bright-sky   : $color-cerulean;
$color-blue-sky     : $color-cerulean;

/*=====================================
=            Custom colors            =
=====================================*/

$color-facebook		: #3B5998;
$color-google		: #DB4437;

$color-btn-google	: $color-white;
$color-btn-local	: $color-red-dark-2;
$color-btn-signup	: $color-green-light-2;
$color-btn 			: $color-secondary;

$color-nav-header	: $color-primary;

$color-gifted			: #f7ccd5;
$color-fiends-friends 	: #90ca3d;

$color-no-imagen	: $color-white;